/* Variables */
/* Reseteo */
/* line 14, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
html {
  font-size: 62.5%; }

/* line 17, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* encabezado */
/* line 23, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white; }
  /* line 28, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  header nav img {
    width: 20rem;
    height: auto; }

/* line 33, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
ol {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  margin-right: 3rem;
  align-items: center; }
  /* line 39, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  ol li {
    display: flex;
    justify-content: space-between; }
    /* line 42, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    ol li a {
      font-size: 1.5vw;
      color: black;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      display: block; }
    /* line 46, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    ol li a:hover {
      font-size: 1.5vw;
      color: white;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      background-color: #2c5712af;
      border-radius: 10px;
      padding: 1rem;
      display: block; }
    /* line 53, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    ol li a:active {
      font-size: 1.5vw;
      color: white;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      background-color: #2D5712;
      border-radius: 10px;
      padding: 1rem;
      display: block; }

/* line 63, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
nav {
  background-color: white; }

/* line 66, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#PaginaActual {
  background-color: #2D5712;
  border-radius: 10px;
  color: white;
  padding: 1rem; }

/* imagen de portada con texto encima */
/* line 73, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* h1 strong {
  font-size: 7vw; }

/* line 76, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada {
  position: relative; }
  /* line 78, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada img {
    width: 100%;
    height: auto;
    display: block; }
  /* line 83, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .nombrePagina {
    position: absolute;
    top: 5vw;
    left: 5vw;
    font-size: 5vw;
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none; }
  /* line 89, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada h3 {
    position: absolute;
    bottom: 4vw;
    right: 4vw;
    padding: 1vw;
    font-size: 2.5vw;
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    right: 2vw; }

/* line 99, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .nombrePagina h1,
#portada .NombrePaginaProdAptos h1 {
  line-height: 5.5vw; }

/* line 104, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .nombrePagina h1:nth-child(2) {
  font-size: 6vw;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none; }

/* line 107, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaProdAptos h1:nth-child(2) {
  font-size: 6vw;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none; }

/* line 111, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
footer {
  background-color: white; }
  /* line 113, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem; }
    /* line 118, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    footer div img {
      width: 10rem;
      height: auto; }

/* Informacion */
/* line 126, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#ContenidoRazones {
  padding: 0; }
  /* line 128, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #ContenidoRazones h2 {
    font-family: "Inter", sans-serif;
    margin: 2% 0;
    font-size: 7rem;
    display: flex;
    justify-content: center; }

/* line 137, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TresRazones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 3rem; }

/* line 146, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Razones {
  background-color: #2D5712;
  margin: 1vw;
  min-height: 90vh;
  width: 40vh;
  min-width: 27rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%; }
  /* line 158, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones div img {
    height: 15rem;
    width: auto;
    margin-bottom: 15%;
    overflow: hidden; }
  /* line 164, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones h3 {
    font-size: 400%;
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin-top: 4%; }
  /* line 171, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones p {
    font-size: 300%;
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 0 10%; }

@media (max-width: 900px) {
  /* line 180, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #ContenidoRazones h2 {
    font-size: 12vw; }
  /* line 183, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .TresRazones {
    display: flex;
    flex-direction: column; }
  /* line 187, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones {
    min-height: 50vw;
    width: 90vw;
    gap: 3vw;
    padding: 2vw; }
    /* line 192, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones h3 {
      font-size: 4vw; }
    /* line 195, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones p {
      font-size: 3vw; }
    /* line 198, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones div img {
      height: 13vw; } }

@media (max-width: 950px) and (orientation: landscape) {
  /* line 205, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #ContenidoRazones h2 {
    font-size: 12vw; }
  /* line 208, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .TresRazones {
    display: flex;
    flex-direction: column; }
  /* line 212, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones {
    min-height: 50vw;
    width: 90vw;
    gap: 3vw;
    padding: 2vw; }
    /* line 217, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones h3 {
      font-size: 4vw; }
    /* line 220, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones p {
      font-size: 3vw; }
    /* line 223, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones div img {
      height: 13vw; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina productos aptos */
/* line 230, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.ProdAptos {
  background-color: #EDEDED; }

/* line 233, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.contenedor {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 243, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaProdAptos {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  font-size: 5vw;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none; }

/* line 250, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.MenuOpciones {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90rem;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  align-items: center; }
  /* line 260, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .MenuOpciones a {
    font-size: 100%;
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }
  /* line 264, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .MenuOpciones .Iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    /* line 269, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .MenuOpciones .Iconos img {
      height: 100px; }

/* line 275, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Productos h2 {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-size: 5rem;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none; }

/* line 281, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Productos a {
  text-decoration: none;
  color: black; }

/* line 285, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Seccion6Productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

/* line 289, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Producto {
  background-color: #EDEDED;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3rem;
  padding: 2rem 0;
  width: 30rem;
  overflow: hidden; }
  /* line 300, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto img {
    height: 9rem; }
  /* line 303, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto h4 {
    font-size: 2vw;
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 2vw;
    text-align: center; }

@media (max-width: 980px) {
  /* line 312, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto {
    width: 20rem; }
  /* line 315, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto img {
    height: 7rem; }
  /* line 318, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto h4 {
    font-size: 2rem; } }

@media (max-width: 680px) {
  /* line 324, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Seccion6Productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  /* line 328, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto {
    width: 20rem; } }

@media (max-width: 480px) {
  /* line 334, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Seccion6Productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  /* line 338, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto {
    width: 20rem; } }

@media (max-width: 991px) {
  /* line 344, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .MenuOpciones {
    display: none; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina nutrientes */
/* line 350, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaNutrientes h1 {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  font-size: 4vw;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: lighter; }
  /* line 356, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .NombrePaginaNutrientes h1 strong {
    position: absolute;
    bottom: 4vw;
    left: -45vw;
    font-size: 8vw;
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }

/* line 365, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.GrupoNutrientes h2 {
  font-size: 5rem;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  text-decoration-line: underline;
  margin: 2rem 0; }

/* line 370, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.ListadoNutrientes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; }
  /* line 375, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(3n) {
    background-color: #E41D52; }
  /* line 378, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(3n+1) {
    background-color: #83AB1A; }
  /* line 381, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(3n+2) {
    background-color: #DF9A17; }
  /* line 384, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div {
    padding: 1rem;
    width: 30rem;
    height: 15rem;
    font-size: 3rem;
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    /* line 393, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .ListadoNutrientes div h4 {
      font-weight: lighter; }
  /* line 397, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
    border: white solid; }

/* line 404, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* .ListadoNutrientes h3 {
  font-size: 2vw; }

/* line 407, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* .ListadoNutrientes h4 {
  font-size: 1.5vw; }

/* line 410, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.ListadoNutrientes div h3 {
  font-style: italic; }

@media (max-width: 1500px) {
  /* line 414, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h3 {
    font-size: 3vw; }
  /* line 417, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h4 {
    font-size: 2vw; } }

@media (max-width: 980px) {
  /* line 422, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .GrupoNutrientes h2 {
    font-size: 5vw;
    margin: 0; }
  /* line 426, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div {
    padding: 1rem;
    width: 30vw;
    height: 15vw;
    font-size: 3vw; }
  /* line 432, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h3 {
    font-size: 3rem; }
  /* line 435, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h4 {
    font-size: 2rem; } }

@media (max-width: 600px) {
  /* line 440, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h3 {
    font-size: 2rem; }
  /* line 443, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h4 {
    font-size: 1rem; } }

@media (max-width: 380px) {
  /* line 448, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(2n) {
    background-color: #E41D52; }
  /* line 451, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(2n+1) {
    background-color: #83AB1A; }
  /* line 454, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes {
    grid-template-columns: repeat(2, 1fr); }
  /* line 457, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vw; }
  /* line 463, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div h4 {
    font-size: 4vw; }
  /* line 466, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div h3 {
    font-size: 5vw; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina curiosidades*/
/* line 472, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaCuriosidades h1 {
  position: absolute;
  bottom: 7vw;
  right: 5vw;
  font-size: 2vw;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: lighter; }
  /* line 478, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .NombrePaginaCuriosidades h1 strong {
    position: absolute;
    bottom: 2vw;
    left: -45vw;
    font-size: 6vw;
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }

/* line 495, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(1) {
  background-color: #BCC6B9; }

/* line 495, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(2) {
  background-color: #A6706E; }

/* line 495, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(3) {
  background-color: #9E9B78; }

/* line 495, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(4) {
  background-color: #AF9277; }

/* line 500, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades {
  width: 100%; }

/* line 503, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.FotoTextoCuriosidadesIzquierda img, .FotoTextoCuriosidadesDerecha img {
  grid-area: foto; }

/* line 507, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p {
  grid-area: Parrafo; }

/* line 510, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.FotoTextoCuriosidadesIzquierda {
  display: grid;
  grid-template-areas: "foto parrafo";
  grid-template-columns: 1fr 3fr; }

/* line 517, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 1rem; }

/* line 523, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades4Filas {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 1rem; }

/* line 529, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas div, .TextoCuriosidades4Filas div {
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; }

/* line 535, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p {
  font-size: 2rem;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  text-align: start;
  margin: 0 1rem; }

/* line 540, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas p span, .TextoCuriosidades4Filas p span {
  font-weight: bolder; }

/* line 544, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.FotoTextoCuriosidadesDerecha {
  display: grid;
  grid-template-areas: "Parrafo foto";
  grid-template-columns: 3fr 1fr; }

/* line 550, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades h3 {
  background-color: white;
  text-transform: uppercase;
  font-size: 5rem;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  padding: 3rem 0 0 0;
  margin-bottom: 1rem; }

@media (max-width: 600px) {
  /* line 559, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .FotoTextoCuriosidadesIzquierda, .FotoTextoCuriosidadesDerecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
  /* line 565, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p {
    font-size: 4vw; }
  /* line 568, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .FotoTextoCuriosidadesIzquierda img, .FotoTextoCuriosidadesDerecha img {
    width: 70vw;
    height: auto; }
  /* line 572, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Curiosidades h3 {
    font-size: 7vw;
    display: flex;
    justify-content: center; }
  /* line 577, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  main {
    width: 100%; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina Recetas*/
/* line 583, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaRecetas h1 {
  position: absolute;
  bottom: 7vw;
  right: 45vw;
  font-size: 4vw;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: lighter; }
  /* line 589, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .NombrePaginaRecetas h1 strong {
    position: absolute;
    bottom: 4vw;
    right: 24vw;
    font-size: 6vw;
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }

/* line 598, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Canal {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 603, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Youtuber {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem; }
  /* line 608, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Youtuber img {
    border-radius: 50%;
    margin: 2rem; }
  /* line 612, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Youtuber h3 {
    font-size: 3rem;
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: lighter; }

/* line 617, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem; }

@media (max-width: 940px) {
  /* line 624, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  iframe {
    width: 30rem;
    height: auto; } }

@media (max-width: 650px) {
  /* line 630, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Videos {
    grid-template-columns: 1fr; } }

/*# sourceMappingURL=Estilos.css.map */