/* Variables */
/* Reseteo */
/* line 14, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
html {
  font-size: 62.5%; }

/* line 17, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* encabezado */
/* line 23, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white; }
  /* line 28, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  header nav img {
    width: 20rem;
    height: auto; }

/* line 33, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
ol {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  margin-right: 3rem;
  align-items: center; }
  /* line 39, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  ol li {
    display: flex;
    justify-content: space-between; }
    /* line 42, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    ol li a {
      font-size: 1.5vw;
      color: black;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      display: block; }
    /* line 46, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    ol li a:hover {
      font-size: 1.5vw;
      color: white;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      background-color: #2c5712af;
      border-radius: 10px;
      padding: 1rem;
      display: block; }
    /* line 53, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    ol li a:active {
      font-size: 1.5vw;
      color: white;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      background-color: #2D5712;
      border-radius: 10px;
      padding: 1rem;
      display: block; }

/* line 63, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
nav {
  background-color: white; }

/* line 66, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#PaginaActual {
  background-color: #2D5712;
  border-radius: 10px;
  color: white;
  padding: 1rem; }

/* imagen de portada con texto encima */
/* line 73, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* h1 strong {
  font-size: 7vw; }

/* line 76, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada {
  position: relative; }
  /* line 78, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada img {
    width: 100%;
    height: auto;
    display: block; }
  /* line 83, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .nombrePagina {
    position: absolute;
    top: 5vw;
    left: 5vw;
    font-size: 5vw;
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none; }
  /* line 89, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada h2 {
    position: absolute;
    bottom: 4vw;
    right: 4vw;
    padding: 1vw;
    font-size: 2.5vw;
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    right: 2vw; }

/* line 99, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .nombrePagina h1,
#portada .NombrePaginaProdAptos h1 {
  line-height: 5.5vw; }

/* line 104, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .nombrePagina h1:nth-child(2) {
  font-size: 6vw;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none; }

/* line 107, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaProdAptos h1:nth-child(2) {
  font-size: 6vw;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none; }

/* line 111, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
footer {
  background-color: white; }
  /* line 113, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem; }
    /* line 118, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    footer div img {
      width: 10rem;
      height: auto; }

/* Informacion */
/* line 126, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#ContenidoRazones {
  padding: 0; }
  /* line 128, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #ContenidoRazones h2 {
    font-family: "Inter", sans-serif;
    margin: 2% 0;
    font-size: 7rem;
    display: flex;
    justify-content: center; }

/* line 137, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TresRazones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 3rem; }

/* line 146, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Razones {
  background-color: #2D5712;
  margin: 1vw;
  min-height: 90vh;
  width: 40vh;
  min-width: 27rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  transition: all 0.5; }
  /* line 159, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones div img {
    height: 15rem;
    width: auto;
    margin-bottom: 15%;
    overflow: hidden; }
  /* line 165, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones h3 {
    font-size: 400%;
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin-top: 4%; }
  /* line 172, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones p {
    font-size: 300%;
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 0 10%; }

/* line 179, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Razones:hover {
  transform: scale(1.1); }

@media (max-width: 900px) {
  /* line 184, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #ContenidoRazones h2 {
    font-size: 12vw; }
  /* line 187, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .TresRazones {
    display: flex;
    flex-direction: column; }
  /* line 191, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones {
    min-height: 50vw;
    width: 90vw;
    gap: 3vw;
    padding: 2vw; }
    /* line 196, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones h3 {
      font-size: 4vw; }
    /* line 199, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones p {
      font-size: 3vw; }
    /* line 202, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones div img {
      height: 13vw; } }

@media (max-width: 950px) and (orientation: landscape) {
  /* line 209, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #ContenidoRazones h2 {
    font-size: 12vw; }
  /* line 212, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .TresRazones {
    display: flex;
    flex-direction: column; }
  /* line 216, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Razones {
    min-height: 50vw;
    width: 90vw;
    gap: 3vw;
    padding: 2vw; }
    /* line 221, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones h3 {
      font-size: 4vw; }
    /* line 224, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones p {
      font-size: 3vw; }
    /* line 227, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Razones div img {
      height: 13vw; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina productos aptos */
/* line 234, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.ProdAptos {
  background-color: #EDEDED; }

/* line 237, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.contenedor {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 247, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaProdAptos {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  font-size: 5vw;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none; }

/* line 254, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.MenuOpciones {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90rem;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  align-items: center;
  transition: all 0.4; }
  /* line 265, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .MenuOpciones a {
    font-size: 100%;
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }
  /* line 269, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .MenuOpciones a:hover {
    transform: scale(1.2);
    background-color: white;
    border: solid white 2px; }
  /* line 274, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .MenuOpciones .Iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    /* line 279, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .MenuOpciones .Iconos img {
      height: 100px; }

/* line 285, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Productos h2 {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-size: 5rem;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none; }

/* line 291, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Productos a {
  text-decoration: none;
  color: black; }

/* line 295, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Seccion6Productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

/* line 299, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Producto {
  background-color: #EDEDED;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3rem;
  padding: 2rem 0;
  width: 30rem;
  overflow: hidden; }
  /* line 310, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto img {
    height: 9rem; }
  /* line 313, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto h4 {
    font-size: 2vw;
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 2vw;
    text-align: center; }

@media (max-width: 980px) {
  /* line 322, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto {
    width: 20rem; }
  /* line 325, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto img {
    height: 7rem; }
  /* line 328, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto h4 {
    font-size: 2rem; } }

@media (max-width: 680px) {
  /* line 334, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Seccion6Productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  /* line 338, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto {
    width: 20rem; } }

@media (max-width: 480px) {
  /* line 344, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Seccion6Productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  /* line 348, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Producto {
    width: 20rem; } }

@media (max-width: 991px) {
  /* line 354, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .MenuOpciones {
    display: none; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina nutrientes */
/* line 360, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaNutrientes h1 {
  position: absolute;
  bottom: 5vw;
  right: 5vw;
  font-size: 4vw;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: lighter; }
  /* line 366, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .NombrePaginaNutrientes h1 strong {
    position: absolute;
    bottom: 4vw;
    left: -45vw;
    font-size: 8vw;
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }

/* line 375, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.GrupoNutrientes h2 {
  font-size: 5rem;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  text-decoration-line: underline;
  margin: 2rem 0; }

/* line 380, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.ListadoNutrientes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; }
  /* line 385, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(3n) {
    background-color: #E41D52; }
  /* line 388, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(3n+1) {
    background-color: #83AB1A; }
  /* line 391, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(3n+2) {
    background-color: #DF9A17; }
  /* line 394, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div {
    padding: 1rem;
    width: 30rem;
    height: 15rem;
    font-size: 3rem;
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    /* line 403, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .ListadoNutrientes div h4 {
      font-weight: lighter; }
  /* line 407, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
    border: white solid; }

/* line 414, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* .ListadoNutrientes h3 {
  font-size: 2vw; }

/* line 417, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
* .ListadoNutrientes h4 {
  font-size: 1.5vw; }

/* line 420, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.ListadoNutrientes div h3 {
  font-style: italic; }

@media (max-width: 1500px) {
  /* line 424, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h3 {
    font-size: 3vw; }
  /* line 427, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h4 {
    font-size: 2vw; } }

@media (max-width: 980px) {
  /* line 432, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .GrupoNutrientes h2 {
    font-size: 5vw;
    margin: 0; }
  /* line 436, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div {
    padding: 1rem;
    width: 30vw;
    height: 15vw;
    font-size: 3vw; }
  /* line 442, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h3 {
    font-size: 3rem; }
  /* line 445, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h4 {
    font-size: 2rem; } }

@media (max-width: 600px) {
  /* line 450, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h3 {
    font-size: 2rem; }
  /* line 453, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  * .ListadoNutrientes h4 {
    font-size: 1rem; } }

@media (max-width: 380px) {
  /* line 458, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(2n) {
    background-color: #E41D52; }
  /* line 461, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div:nth-child(2n+1) {
    background-color: #83AB1A; }
  /* line 464, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes {
    grid-template-columns: repeat(2, 1fr); }
  /* line 467, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vw; }
  /* line 473, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div h4 {
    font-size: 4vw; }
  /* line 476, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .ListadoNutrientes div h3 {
    font-size: 5vw; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina curiosidades*/
/* line 482, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaCuriosidades h1 {
  position: absolute;
  bottom: 7vw;
  right: 5vw;
  font-size: 2vw;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: lighter; }
  /* line 488, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .NombrePaginaCuriosidades h1 strong {
    position: absolute;
    bottom: 2vw;
    left: -45vw;
    font-size: 6vw;
    color: black;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }

/* line 505, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(1) {
  background-color: #BCC6B9; }

/* line 505, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(2) {
  background-color: #A6706E; }

/* line 505, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(3) {
  background-color: #9E9B78; }

/* line 505, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades:nth-child(4) {
  background-color: #AF9277; }

/* line 510, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades {
  width: 100%; }

/* line 513, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.FotoTextoCuriosidadesIzquierda img, .FotoTextoCuriosidadesDerecha img {
  grid-area: foto; }

/* line 517, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p {
  grid-area: Parrafo; }

/* line 520, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.FotoTextoCuriosidadesIzquierda {
  display: grid;
  grid-template-areas: "foto parrafo";
  grid-template-columns: 1fr 3fr; }

/* line 527, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 1rem; }

/* line 533, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades4Filas {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  margin: 0 1rem; }

/* line 539, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas div, .TextoCuriosidades4Filas div {
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; }

/* line 545, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p {
  font-size: 2rem;
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  text-align: start;
  margin: 0 1rem; }

/* line 550, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.TextoCuriosidades3Filas p span, .TextoCuriosidades4Filas p span {
  font-weight: bolder; }

/* line 554, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.FotoTextoCuriosidadesDerecha {
  display: grid;
  grid-template-areas: "Parrafo foto";
  grid-template-columns: 3fr 1fr; }

/* line 560, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Curiosidades h2 {
  background-color: white;
  text-transform: uppercase;
  font-size: 5rem;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  padding: 3rem 0 0 0;
  margin-bottom: 1rem; }

@media (max-width: 600px) {
  /* line 569, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .FotoTextoCuriosidadesIzquierda, .FotoTextoCuriosidadesDerecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
  /* line 575, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p {
    font-size: 4vw; }
  /* line 578, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .FotoTextoCuriosidadesIzquierda img, .FotoTextoCuriosidadesDerecha img {
    width: 70vw;
    height: auto; }
  /* line 582, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Curiosidades h2 {
    font-size: 7vw;
    display: flex;
    justify-content: center; }
  /* line 587, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  main {
    width: 100%; } }

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina Recetas*/
/* line 593, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
#portada .NombrePaginaRecetas h1 {
  position: absolute;
  bottom: 7vw;
  right: 45vw;
  font-size: 4vw;
  color: white;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: lighter; }
  /* line 599, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  #portada .NombrePaginaRecetas h1 strong {
    position: absolute;
    bottom: 4vw;
    right: 24vw;
    font-size: 6vw;
    color: white;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    text-transform: uppercase; }

/* line 608, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Canal {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 613, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Youtuber {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem; }
  /* line 618, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Youtuber img {
    border-radius: 50%;
    margin: 2rem;
    transition: all 0.6; }
  /* line 623, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Youtuber h3 {
    font-size: 3rem;
    color: black;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: lighter; }

/* line 628, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
.Videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem; }

@media (max-width: 940px) {
  /* line 635, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  iframe {
    width: 30rem;
    height: auto; } }

@media (max-width: 650px) {
  /* line 641, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Videos {
    grid-template-columns: 1fr; } }

@media (max-width: 400px) {
  /* line 646, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Videos iframe {
    width: 90vw;
    height: auto; }
  /* line 650, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
  .Youtuber {
    margin: 0 0 1rem 0; }
    /* line 652, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Youtuber h3 {
      font-size: 20px; }
    /* line 655, ../../../Documents/conderHouse/Entrega 2/scss/Estilos.scss */
    .Youtuber img {
      width: 30vw; } }

/*# sourceMappingURL=Estilos.css.map */