/* Variables */
$FuentePrincipal: 'Lato', sans-serif;
$FuenteSecundaria: 'Inter', sans-serif;
$ColorPrincipal: #2D5712;

@mixin Fuente ($TamanioFuente, $ColorFuente, $EstiloFuente, $Decoracion){
    font-size: $TamanioFuente;
    color: $ColorFuente;
    font-family: $EstiloFuente;
    text-decoration: $Decoracion;
}

/* Reseteo */
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* encabezado */
header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
        img{
            width: 20rem;
            height: auto;
        }
    }
    ol{
        display: flex;
        gap: 1.5rem;
        justify-content: end;
        margin-right: 3rem;
        align-items: center;
        margin-top: 1%;
            li{
                display: flex;
                justify-content: space-between;
                    a{
                        @include Fuente (1.5vw, black, $FuenteSecundaria, none);
                        display: block;
                    }
                    a:hover{
                        @include Fuente (1.5vw, white, $FuenteSecundaria, none);
                        background-color: #2c5712af;
                        border-radius: 10px;
                        padding: 1rem;
                        display: block;
                        transition: 0.4s;
                    }
                    a:active{
                        @include Fuente (1.5vw, white, $FuenteSecundaria, none);
                        background-color: $ColorPrincipal;
                        border-radius: 10px;
                        padding: 1rem;
                        display: block;
                        transition: 0.2s;
                    }
            }
    }   

nav{
    background-color: white;
}
#PaginaActual{
    background-color: $ColorPrincipal;
    border-radius: 10px;
    color: white;
    padding: 1rem;
}
/* imagen de portada con texto encima */
* h1 strong{
    font-size: 7vw;
}
#portada{
    position: relative;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
        .nombrePagina{
            position: absolute;
            top: 5vw;
            left: 5vw;
            @include Fuente (5vw, white, $FuentePrincipal, none);
        }
        h2{
            position: absolute;
            bottom: 4vw;
            right: 4vw;
            padding: 1vw;
            @include Fuente (2.5vw, white, $FuenteSecundaria, none);
            right: 2vw;
        }
}

#portada .nombrePagina h1, 
#portada .NombrePaginaProdAptos h1{
    line-height: 5.5vw;
}

#portada .nombrePagina h1:nth-child(2){
    @include Fuente (6vw, white, $FuenteSecundaria, none);
}
#portada .NombrePaginaProdAptos h1:nth-child(2){
    @include Fuente (6vw, black, $FuenteSecundaria, none);
}

footer {
    background-color: white;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 3rem;
            img{
                width: 10rem;
                height: auto;
            }
        }
}

/* Informacion */
#ContenidoRazones{
    padding: 0;
        h2{
            font-family: $FuenteSecundaria;
            margin: 2% 0;
            font-size: 7rem;
            display: flex;
            justify-content: center;
        }
}

.TresRazones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 3rem;

}
.Razones{
    background-color: $ColorPrincipal;
    margin: 1vw;
    min-height: 90vh;
    width: 40vh;
    min-width: 27rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    transition: all 1s;
        div img{
            height: 15rem;
            width: auto;
            margin-bottom: 15% ;
            overflow: hidden;
        }
        h3{
            @include Fuente (400%, white, $FuentePrincipal, none);
            text-transform: uppercase;
            text-align: center;
            padding: 0;
            margin-top: 4%;
        }
        p{
            @include Fuente (300%, white, $FuenteSecundaria, none);
            text-align: center;
            margin: 0 10%;
        }

}
.Razones:hover{
    transform: scale(1.1);
}

@media (max-width: 900px){
    #ContenidoRazones h2{
        font-size: 12vw;
    }
    .TresRazones{
        display: flex;
        flex-direction: column;
    }
    .Razones{
        min-height: 50vw;
        width: 90vw;
        gap: 3vw;
        padding:2vw;
            h3{
                font-size: 4vw;
            }
            p{
                font-size: 3vw;
            }
            div img{
                height: 13vw;
            }
    }
}

@media (max-width: 950px) and (orientation: landscape){
    #ContenidoRazones h2{
        font-size: 12vw;
    }
    .TresRazones{
        display: flex;
        flex-direction: column;
    }
    .Razones{
        min-height: 50vw;
        width: 90vw;
        gap: 3vw;
        padding:2vw;
        h3{
            font-size: 4vw;
        }
        p{
            font-size: 3vw;
        }
        div img{
            height: 13vw;
        }
    }
}

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina productos aptos */
.ProdAptos{
    background-color: #EDEDED;
}
.contenedor{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portada .NombrePaginaProdAptos{
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    @include Fuente (5vw, black, $FuentePrincipal, none);
}

.MenuOpciones{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 90rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    align-items: center;    
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
        a{
            @include Fuente (100%, black, $FuentePrincipal, none);
            text-transform: uppercase;
        }
        a:hover{
            transform: scale(1.2);
            transition: transform 0.5s ease-in-out;
            background-color: white;
            border: solid white 2px;
            margin: 3rem;
        }
        .Iconos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                height:100px;
            }
        }
}

.Productos h2{
    display: flex;
    justify-content: center;
    margin: 3rem;
    @include Fuente (5rem, black, $FuentePrincipal, none);
}
.Productos a{
    text-decoration: none;
    color: black;
}
.Seccion6Productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.Producto{
    background-color: #EDEDED;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 3rem;
    padding: 2rem 0;    
    width: 30rem;
    overflow: hidden;
        img{
            height: 9rem;
        }
        h4{
            @include Fuente (2vw, black, $FuenteSecundaria, none);
            text-transform: uppercase;
            padding-top: 2vw;
            text-align: center;
        }
}

@media (max-width: 980px){
    .Producto{
        width: 20rem;
    }
    .Producto img{
        height: 7rem;
    }
    .Producto h4{
        font-size: 2rem;
    }
}

@media (max-width: 680px){
    .Seccion6Productos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .Producto{
        width: 20rem;
    }
}

@media (max-width: 480px){
    .Seccion6Productos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .Producto{
        width: 20rem;
    }
}

@media (max-width: 991px){
    .MenuOpciones{
        display: none;
    }
}

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina nutrientes */
#portada .NombrePaginaNutrientes h1{
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    @include Fuente (4vw, black, $FuenteSecundaria, none);
    font-weight: lighter;
        strong{
            position: absolute;
            bottom: 4vw;
            left: -45vw;
            @include Fuente (8vw, black, $FuentePrincipal, none);
            text-transform: uppercase;
        }
}

.GrupoNutrientes h2{
    @include Fuente (5rem, black, $FuentePrincipal, none);
    text-decoration-line: underline;
    margin: 2rem 0;
}
.ListadoNutrientes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
    div:nth-child(3n){
        background-color: #E41D52;
    }
    div:nth-child(3n+1){
        background-color: #83AB1A;
    }
    div:nth-child(3n+2){
        background-color: #DF9A17;
    }
    div{
        padding: 1rem;
        width: 30rem;
        height: 15rem;
        @include Fuente (3rem, black, $FuenteSecundaria, none);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h4{
            font-weight: lighter;
        }
    }
    div:hover{
        transform: scale(1.3);
        transition: transform 1s ease-in-out;
        border:  white solid;
    }
}

* .ListadoNutrientes h3 {
    font-size: 2vw;
}
* .ListadoNutrientes h4 {
    font-size: 1.5vw;
}
.ListadoNutrientes div h3{
    font-style: italic;
}
@media (max-width: 1500px){
    * .ListadoNutrientes h3 {
        font-size: 3vw;
    }
    * .ListadoNutrientes h4 {
        font-size: 2vw;
    }
}
@media (max-width: 980px){
    .GrupoNutrientes h2{
        font-size: 5vw;
        margin: 0;
    }
    .ListadoNutrientes div{
        padding: 1rem;
        width: 30vw;
        height: 15vw;
        font-size: 3vw;   
    }
    * .ListadoNutrientes h3 {
        font-size: 3rem;
    }
    * .ListadoNutrientes h4 {
        font-size: 2rem;
    }
}
@media (max-width: 600px){
    * .ListadoNutrientes h3 {
        font-size: 2rem;
    }
    * .ListadoNutrientes h4 {
        font-size: 1rem;
    }
}
@media (max-width: 380px){
    .ListadoNutrientes div:nth-child(2n){
        background-color: #E41D52;
    }
    .ListadoNutrientes div:nth-child(2n+1){
        background-color: #83AB1A;
    }
    .ListadoNutrientes{
        grid-template-columns: repeat(2, 1fr);
    }
    .ListadoNutrientes div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 21vw;
    }
    .ListadoNutrientes div h4{
        font-size: 4vw;  
    }
    .ListadoNutrientes div h3{
        font-size: 5vw;   
    }
}
/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina curiosidades*/

#portada .NombrePaginaCuriosidades h1{
    position: absolute;
    bottom: 3vw;
    right: 5vw;
    @include Fuente (2vw, white, $FuenteSecundaria, none);
    background-color: black;
    border-radius: 50px;
    padding: 0.7vw;
    font-weight: lighter;
    strong{
        position: absolute;
        bottom: 2vw;
        left: -45vw;
        @include Fuente (6vw, white, $FuentePrincipal, none);
        text-shadow: 1px 1px 2px black;
        text-transform: uppercase;
        margin-bottom: 1vw;
    }
}

$Colores: (
    #BCC6B9: 1,
    #A6706E: 2,
    #9E9B78: 3,
    #AF9277: 4
);

@each $color,$numero in $Colores{
    .Curiosidades:nth-child(#{$numero}){
        background-color: #{$color};
    }
}

.Curiosidades{
    width: 100%;
}
.FotoTextoCuriosidadesIzquierda img, .FotoTextoCuriosidadesDerecha img{
    grid-area: foto;
}

.TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p{
    grid-area: Parrafo;
}
.FotoTextoCuriosidadesIzquierda{
    display: grid;
    grid-template-areas: 
    "foto parrafo";
    grid-template-columns: 1fr 3fr;
}

.TextoCuriosidades3Filas{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 1rem;
}
.TextoCuriosidades4Filas{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 1rem;
}
.TextoCuriosidades3Filas div, .TextoCuriosidades4Filas div{
    background-color:white;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p{
    @include Fuente (2rem, black, $FuenteSecundaria, none);
    text-align: start;
    margin: 0 1rem;
}
.TextoCuriosidades3Filas p span, .TextoCuriosidades4Filas p span{
    font-weight: bolder;
}

.FotoTextoCuriosidadesDerecha{
    display: grid;
    grid-template-areas: 
    "Parrafo foto";
    grid-template-columns: 3fr 1fr;
}
.Curiosidades h2{
    background-color: white;
    text-transform: uppercase;
    @include Fuente (5rem, black, $FuentePrincipal, none);
    padding: 3rem 0 0 0;
    margin-bottom: 1rem ;
}

@media (max-width: 600px) {
    .FotoTextoCuriosidadesIzquierda, .FotoTextoCuriosidadesDerecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;  
    }
    .TextoCuriosidades3Filas p, .TextoCuriosidades4Filas p{
        font-size: 4vw;
    }
    .FotoTextoCuriosidadesIzquierda img, .FotoTextoCuriosidadesDerecha img{
        width: 70vw;
        height: auto;
    }
    .Curiosidades h2{
        font-size: 7vw;
        display: flex;
        justify-content: center;
    }    
    main{
        width: 100%;
    }
}

/* Comenzamos con el estilo de algunas cosas personalizadas de la pagina Recetas*/
#portada .NombrePaginaRecetas h1{
    position: absolute;
    bottom: 7vw;
    right: 45vw;
    @include Fuente (4vw, white, $FuenteSecundaria, none);
    font-weight: lighter;
    strong{
        position: absolute;
        bottom: 4vw;
        right: 24vw;
        @include Fuente (6vw, white, $FuentePrincipal, none);
        text-transform: uppercase;
    }
}

.Canal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Youtuber{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    img{
        border-radius: 50%;
        margin: 2rem;
    }
    h3{
        @include Fuente (3rem, black, $FuenteSecundaria, none);
        font-weight: lighter;
    }
}
.Videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

@media (max-width: 940px) {
    iframe{
        width: 30rem;
        height: auto;
    }
}
@media (max-width: 650px) {
    .Videos{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 400px) {
    .Videos iframe{
        width: 90vw;
        height: auto;
    }
    .Youtuber{ 
        margin: 0 0 1rem 0;
        h3{
            font-size: 20px;
        }
        img{
            width: 30vw;
        }
    }
}